## Runtime mode
# STAGING | PROD
NEXT_PUBLIC_ENV=STAGING

## Backend HTTP API base URL
NEXT_PUBLIC_API_URL_STAGING=http://localhost:5000
NEXT_PUBLIC_API_URL_PROD=https://your-backend-env.ap-south-1.elasticbeanstalk.com

## Backend socket URL
NEXT_PUBLIC_SOCKET_URL_STAGING=http://localhost:5000
NEXT_PUBLIC_SOCKET_URL_PROD=https://your-backend-env.ap-south-1.elasticbeanstalk.com
